argcomplete==3.6.2
attrs==25.3.0
edalize==0.6.1
fastjsonschema==2.21.1
fusesoc==2.4.3
importlib_metadata==8.7.0
Jinja2==3.1.6
jsonschema2md==1.5.2
Markdown==3.7
MarkupSafe==3.0.2
okonomiyaki==3.0.0
pyparsing==3.2.3
PyYAML==6.0.2
simplesat==0.9.2
six==1.17.0
zipp==3.21.0
